 <!DOCTYPE html> 
  <head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jsearch/1.10.2/jsearch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jsearchui/1.8.15/jsearch-ui.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  	<title> Enron Visualization</title>
  </head>

  <body> 
 <style> 
.link {  
stroke: #666;
opacity: 0.6;
stroke-width: 1.5px; 
} 
.node circle { 
stroke-width: 4px; 
} 
#footer {
  font: 24pt helvetica neue;
  color: #666;
}

input {
  font: 24pt helvetica neue;
  background: none;
  border: none;
  outline: 0;
}
.node text { 
font: 18px times; 
stroke: black;
color: black;
opacity: 1;
}

div.bar {
    display: inline-block;
    width: 32px;
    height: 95px;   /* We'll override this later */
    background-color: teal;
    margin-right: 22px;
}


} 
</style> 

<script src="http://d3js.org/d3.v3.min.js"></script>
<div class="container-fluid"> 

<div class="row"> 
	<div class="col-md-12"> <h1 class="text-center"> Enron Network Visualization</h1>
	<hr>
	 </div>
	</div>
	<div class="row">
	<div class="col-md-12">
	<h3 class="text-center"> To see the k-means cluster analysis, click <a href='/clusters' style="text-decoration: none;"> here </a> </h3>
	<h3 class="text-center"> To see the TOM-centrality analysis, click <a href='/TOM' style="text-decoration: none;"> here </a></h3>
	<p class="lead text-center" style="padding-top: 25px;"> made for Pomona college math research by tim kaye + friends in may 2014</p>
	<p class="lead text-center"> built using the cmu enron corpus, d3 and r. </p>

	</div>
</div>


<div class="row" style="padding-top: 35px;">
<div class="col-md-offset-3 col-md-3 ">
	<div class="keyIn" ><p class="lead" style="padding-right:15px;">Inside Colors - Department </p></div>
</div>
<div class="col-md-3 col-md-offset-1">
	<div class="keyOut"><p class="lead" style="padding-right:15px;">Outside Colors - Title</p></div>
</div>
		

            <script>
            	var dataset = [ 1, 2, 3, 4];
            	var dataset2 = [ 1, 2, 3, 4,5 ];
            	var color = d3.scale.category20();
				var color2 = d3.scale.category20b();


				d3.select(".keyIn").selectAll("div")
				    .data(dataset)
				    .enter()
				    .append("div")
				    .style("background-color", function(d) {
				    	return color(d);
				    })
				    .attr("class", "bar");

				d3.select(".keyOut").selectAll("div")
					.data(dataset2)
					.enter()
					.append("div")
					.style("margin-right", "34px")
					.style("background-color", function(d) {
						return color2(d);
					})
					.attr("class", "bar");

		

            </script>
     
</div>
<div class="row">
<div class="col-md-offset-3 col-md-3 "> <p class="lead"> ENA,  ETS, EWS, Other </p></div>
<div class="col-md-3 col-md-offset-1"> <p class="lead"> CEO, VP, Director, Manager, Other </p></div>
</div>
<div class="row" id="footer">
	<form role="form">
		<div class="col-md-offset-3 col-md-6">
	      <label  for="search">search: </label>
	      <input class="form-control" type="text" id="search" onkeyup="update(this.value)">
	    </div>
    </form>
</div>

<div class="row">
	<div class="graph col-md-offset-2"> </div>
	</div>

	

<script> 
 

var width = 1400, 
	height = 1200;

var svg = d3.select(".graph").append("svg") 
	.attr("width", width) 
	.attr("height", height); 



var force = d3.layout.force() 
	//.nodes(nodes) 
	//.links(links) 
	.size([width, height]) 
	.linkDistance(200) 
	.charge(-200);
	
	//.start(); 

d3.json("original.json", function(error, graph) {
  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start(); 

var link = svg.selectAll(".link") 
	.data(graph.links) 
	.enter().append("line") 
	.attr("class", "link")
	.style("stroke-width", function(d) { return Math.log(d.value);});//.sqrt(d.value*0.04); });

var color = d3.scale.category20();
var colorOutside = d3.scale.category20b();

var node = svg.selectAll(".node") 
	.data(graph.nodes)
	.enter().append("g") 
	.attr("class", "node") 
	.style("fill", function(d) { return color(2); })
	.style("stroke", function(d) { return colorOutside(2); })
	.on('mouseover', mouseover)
	.on('mouseout', mouseout)
	.on('click', click)
	.call(force.drag); 

	node.append("circle") 
	.attr("r", 8);

	node.append("text") 
	.text(function(d) { return d.name; })
	.style("opacity", 1.0); 

	

force.on("tick", function() { 
	link 
	.attr("x1", function(d) { return d.source.x; }) 
	.attr("y1", function(d) { return d.source.y; }) 
	.attr("x2", function(d) { return d.target.x; }) 
	.attr("y2", function(d) { return d.target.y; }); 

node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; }); 
});

function mouseover() { 
	var nodeSelection = d3.select(this);
	    nodeSelection.style({"fill": '#6AD780'});
	    nodeSelection.select("text").style({opacity:'1'});
	    nodeSelection.select("text").style({"font": "17px serif"});
	   	nodeSelection.select("text").style({"fill": "black"});
	}

function mouseout() { 
		var nodeSelection = d3.select(this);
		nodeSelection.style({"fill": function(d) { return color(d.title);}});
		nodeSelection.select("text").style({opacity: '0.0'});
} 

function click() {
	d3.select(this).select("circle").transition()
		.duration(750)
		.ease("elastic")
		.delay(1000)
		.each("end", function(d) { d3.select("this").transition().attr("r", 8).style("fill", "#6AD780"); });
		}


function update(search) {
  if (search != re) {
    re = new RegExp(search, "i");

    var matching = classes.filter(function(d) { return d.name.match(re); });

    d3.selectAll("text.node").data(matching, function(d) { return d.name; })
      // do something with the nodes

    // can be source or target in links, so we use a different method here
    links.filter(function(d) {
        var ret = false;
        matching.forEach(function(e) {
          ret = ret || e.name == d.source.name || e.name == d.target.name;
        });
        return ret;
      })
      // do something with the links
  }
}
var links = svg.selectAll('.link')
// links.transition().duration(5000).style({"stroke-width": 0});

this.addNode = function (id) {
    nodes.push({"id":id});
    console.log(id);
    update();
};



});

</script>
</div>
</div>
 </body>